<h1>Hacker News</h1>


<h3>Submit New Post</h3>
<form>
  Name:<br>
  <input type="text" name="name"><br>
  URL:<br>
  <input type="text" name="url">
  <input type="submit" value="Submit">
  <br>
  <br>
</form>
<h3>Top Posts</h3>
<br>

<% @sorted_post = @all_posts.sort { |a, b| b.votes <=> a.votes } %>

<% @sorted_post.each do |t| %>
  <ul>
      <li> Title: Up votes: <%=t.votes%> <a href="<%=t.url%>"> <%=t.name%> </a>
      </li>
  </ul>
<%end%>




