<h2>Track Info</h2>

<h4><%= "Composer: #{@info[1]} " %></h4>
<h4><%= "Length: #{@info[2]/60_000} minutes" %></h4>
<h4><%= "File Size: #{@info[3]/1000_000} MB" %></h4>
<h4><%= "Unit Price: #{@info[4]} cents" %></h4>



